#mirrorOne {
    width: 50%;
    margin: 1em;
    border: 1px solid blue;
}

#mirrorTwo {
    width: 50%;
    margin: 1em;
    border: 1px solid red;
}

#article-container {
    display: flex;
    flex-flow: row nowrap;
}